body {
    background: #FFFFFF;
}
/* header*/

.logo, .logofinal {
    text-align: center;
}

#banner-1 {
    width: 30%;
      
}

nav ul li {
    list-style-type: none;
    
}

.menu a {

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold ;
    font-size: 40px;
    color: #FFFFFF;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
   
}

ul {
    display: flex;
    justify-content: space-between;
    background: #15575f;
}
/* main*/

.flex {
    display: flex;
}

/* footer*/
#banner-2 {
    width: 15%;
    
}

#footer{
    padding: 90px 0 20px;
    background: #15575f;
    position: relative;
}

.footer-text{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-right{
    flex-basis: 50%;
    padding: 2px;
    margin-bottom: 8px;
    text-align: right;
    
}

.footer-text h3{
    margin: 15px 0;
}


.footer-text p{
    line-height: 27px;
}

.copy{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;

}