body {
    background: #FFFFFF;
}

/* header*/

.logo {
    text-align: center;
    width: 500px;
    width: 100%;
}

#banner-1 {
    width: 25%;
      
}

nav ul li {
    list-style-type: none;
    
}

.menu a {

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold ;
    font-size: 50px;
    color: #FFFFFF;
    margin: 50px auto;
    padding: 30px auto;
   
}

ul {
    display: flex;
    justify-content: space-between;
    background: #15575f;
}

nav a:hover {
    color: #c2ac97;
    text-decoration: solid;
}

/* main*/

.caixa{
    padding: 10%;
}

.contato {
    background: #FFFFFF;
    width: 30%;
    text-align: center;
    list-style-type: none;
    margin-left: 50px;
    padding-left: 500px;
    
}

.contato-item {
    font-size: 22px;
    
}



/* footer*/

#img {
    width: 15%;
    
}

footer {
    text-align: center;
    background: url(img/img.png);
    padding: 40px 0;
    margin-top: 10%;
}

footer p {
    color: #FFFFFF;
    font-size: 20px;
    margin: 20px 0 0 ;
}
