body {
    background: #FFFFFF;
}

/* header*/

.logo {
    text-align: center;
    width: 500px;
    width: 100%;
}

#banner-1 {
    width: 25%;
      
}

nav ul li {
    list-style-type: none;
    
}

.menu a {

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold ;
    font-size: 50px;
    color: #FFFFFF;
    margin: 50px auto;
    padding: 30px auto;
   
}

ul {
    display: flex;
    justify-content: space-between;
    background: #15575f;
}

nav a:hover {
    color: black;
    text-decoration: solid;
}

/* main*/

#title {
    text-align: center;
    font-size: 30px;
    color: #15575f;
    text-transform: uppercase;

}

img {
    width: 500px;
    margin: 10%;
}

.container, .container-2{
    display: flex;
    align-items: center;
    
}

#descrition {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
    background: #c2ac97;
    width: 30%;
    padding: 5%;
    border: solid 1px #c2ac97;
	border-radius: 10px;
    
}


#print-1 {
    width: 50%;
    margin: 50px 20px 30px 20px;
    padding: 10px 10px 10px 10px;
      
}

#print-2 {
    width: 50%;
    margin: 50px 20px 50px 20px;
    padding: 10px 10px 10px 10px;
}

/* footer*/

#img {
    width: 15%;
    
}

footer {
    text-align: center;
    background: url(img/img.png);
    padding: 40px 0;
}

footer p {
    color: #FFFFFF;
    font-size: 20px;
    margin: 20px 0 0 ;
}
