body {
    background: #FFFFFF;
}

.logo, .logofinal {
    text-align: center;
}

#banner-1 {
    width: 30%;
   
     
}

nav ul li {
    list-style-type: none;
    
}

.menu a {

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
   
}

ul {
    display: flex;
    justify-content: space-between;
    background: #15575f;
}

.flex, .flexcat {
    display: flex;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
    
}


#ambiente.primeira {
    width: 50%;
    margin: 20px 20px 20px 20px;
    
      
}

#ambiente.segundaria {
    width: 100px;
    margin: 20px 20px 20px 20px;
}

#banner-2 {
    width: 15%;
    
}


.logofinal {
    background: #ffffff;
}


